---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/navmain.astro';
import '../styles/global.css';
import Vector from '../assets/Vector.svg?url';
import ClipArrow from '../assets/clipita.svg?url';
import GithubArrow from '../assets/githubita.svg?url';
import InfoArrow from '../assets/infoita.svg?url';
import PackageArrow from '../assets/packageita.svg?url';
---
<head>
    <title>vejas.zip</title>
</head>
<Layout>
<Nav />
<div class="flex flex-col items-center content-center justify-center min-h-screen max-h-90vh">
        <div class="w-full flex justify-center mx-auto">
            <div class="relative inline-block w-full mx-auto max-w-3xl">
                <img src={Vector} alt="lasvejas" class="block w-full h-auto mx-auto my-5 lg:p-0 sm:p-8 md:p-8" />
                <div class="hidden md:block">
                <!--<a href="/contact"><img src={ClipArrow} alt="clip" class="absolute hover:text-white" style="left:82.6%; top:16.5%; transform:translate(-50%,-50%); pointer-events:auto;" /></a> -->
                <a href="/contact" class="clip" style="left:82.6%; top:16.5%; transform:translate(-50%,-50%); pointer-events:auto; hover:text-white;">
                    <svg width="220" height="106" viewBox="0 0 220 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="path" d="M109.398 24.384C107.99 24.384 106.75 24.072 105.678 23.448C104.622 22.824 103.798 21.944 103.206 20.808C102.614 19.672 102.318 18.36 102.318 16.872C102.318 15.352 102.622 14.016 103.23 12.864C103.854 11.712 104.726 10.816 105.846 10.176C106.966 9.536 108.262 9.216 109.734 9.216C111.014 9.216 112.15 9.464 113.142 9.96C114.15 10.456 114.942 11.152 115.518 12.048C116.11 12.944 116.43 13.984 116.478 15.168H114.054C113.83 14.096 113.326 13.256 112.542 12.648C111.774 12.024 110.806 11.712 109.638 11.712C108.678 11.712 107.846 11.92 107.142 12.336C106.438 12.752 105.894 13.352 105.51 14.136C105.142 14.904 104.958 15.816 104.958 16.872C104.958 17.912 105.134 18.808 105.486 19.56C105.854 20.312 106.366 20.888 107.022 21.288C107.694 21.688 108.486 21.888 109.398 21.888C110.47 21.888 111.374 21.624 112.11 21.096C112.846 20.552 113.334 19.808 113.574 18.864H115.998C115.934 19.952 115.614 20.92 115.038 21.768C114.462 22.6 113.686 23.248 112.71 23.712C111.734 24.16 110.63 24.384 109.398 24.384ZM125.784 24.384C124.344 24.384 123.072 24.072 121.968 23.448C120.88 22.808 120.032 21.92 119.424 20.784C118.832 19.632 118.536 18.304 118.536 16.8C118.536 15.296 118.832 13.976 119.424 12.84C120.032 11.688 120.88 10.8 121.968 10.176C123.072 9.536 124.344 9.216 125.784 9.216C127.224 9.216 128.488 9.536 129.576 10.176C130.68 10.8 131.528 11.688 132.12 12.84C132.728 13.976 133.032 15.296 133.032 16.8C133.032 18.304 132.728 19.632 132.12 20.784C131.528 21.92 130.68 22.808 129.576 23.448C128.488 24.072 127.224 24.384 125.784 24.384ZM125.784 21.888C126.728 21.888 127.544 21.688 128.232 21.288C128.936 20.872 129.472 20.28 129.84 19.512C130.208 18.744 130.392 17.84 130.392 16.8C130.392 15.76 130.208 14.856 129.84 14.088C129.472 13.32 128.936 12.736 128.232 12.336C127.544 11.92 126.728 11.712 125.784 11.712C124.84 11.712 124.016 11.92 123.312 12.336C122.624 12.736 122.096 13.32 121.728 14.088C121.36 14.856 121.176 15.76 121.176 16.8C121.176 17.84 121.36 18.744 121.728 19.512C122.096 20.28 122.624 20.872 123.312 21.288C124.016 21.688 124.84 21.888 125.784 21.888ZM139.247 9.6V24H136.607V9.6H139.247ZM146.207 15.696C146.207 14.416 145.903 13.432 145.295 12.744C144.703 12.056 143.847 11.712 142.727 11.712C141.607 11.712 140.743 12.056 140.135 12.744C139.543 13.432 139.247 14.416 139.247 15.696H138.527V10.8H139.583C140.015 10.288 140.575 9.896 141.263 9.624C141.967 9.352 142.735 9.216 143.567 9.216C144.607 9.216 145.527 9.456 146.327 9.936C147.127 10.416 147.743 11.096 148.175 11.976C148.623 12.84 148.847 13.84 148.847 14.976V24H146.207V15.696ZM158.894 24.384C157.438 24.384 156.31 23.92 155.51 22.992C154.726 22.048 154.334 20.704 154.334 18.96V12.096H151.454V9.6H154.334V5.856H156.974V9.6H162.974V12.096H156.974V18.96C156.974 19.936 157.142 20.672 157.478 21.168C157.83 21.648 158.334 21.888 158.99 21.888C159.71 21.888 160.286 21.648 160.718 21.168C161.15 20.688 161.454 19.952 161.63 18.96H163.982C163.918 20.704 163.446 22.048 162.566 22.992C161.686 23.92 160.462 24.384 158.894 24.384ZM171.229 24.336C170.269 24.336 169.437 24.176 168.733 23.856C168.045 23.536 167.517 23.072 167.149 22.464C166.781 21.84 166.597 21.104 166.597 20.256C166.597 19.088 166.973 18.144 167.725 17.424C168.477 16.688 169.557 16.208 170.965 15.984L175.957 15.216V17.544L171.349 18.264C170.709 18.36 170.229 18.568 169.909 18.888C169.589 19.192 169.429 19.608 169.429 20.136C169.429 20.664 169.637 21.096 170.053 21.432C170.485 21.752 171.045 21.912 171.733 21.912C172.469 21.912 173.141 21.76 173.749 21.456C174.357 21.152 174.837 20.736 175.189 20.208C175.541 19.68 175.717 19.096 175.717 18.456V15.12C175.717 14.016 175.429 13.176 174.853 12.6C174.293 12.008 173.477 11.712 172.405 11.712C171.269 11.712 170.357 11.984 169.669 12.528C168.981 13.072 168.517 13.856 168.277 14.88H165.733C165.861 13.696 166.205 12.68 166.765 11.832C167.325 10.984 168.085 10.336 169.045 9.888C170.005 9.44 171.141 9.216 172.453 9.216C174.325 9.216 175.765 9.688 176.773 10.632C177.797 11.576 178.309 12.912 178.309 14.64V24H175.717V22.464H175.381C174.965 23.072 174.397 23.536 173.677 23.856C172.973 24.176 172.157 24.336 171.229 24.336ZM188.734 24.384C187.326 24.384 186.086 24.072 185.014 23.448C183.958 22.824 183.134 21.944 182.542 20.808C181.95 19.672 181.654 18.36 181.654 16.872C181.654 15.352 181.958 14.016 182.566 12.864C183.19 11.712 184.062 10.816 185.182 10.176C186.302 9.536 187.598 9.216 189.07 9.216C190.35 9.216 191.486 9.464 192.478 9.96C193.486 10.456 194.278 11.152 194.854 12.048C195.446 12.944 195.766 13.984 195.814 15.168H193.39C193.166 14.096 192.662 13.256 191.878 12.648C191.11 12.024 190.142 11.712 188.974 11.712C188.014 11.712 187.182 11.92 186.478 12.336C185.774 12.752 185.23 13.352 184.846 14.136C184.478 14.904 184.294 15.816 184.294 16.872C184.294 17.912 184.47 18.808 184.822 19.56C185.19 20.312 185.702 20.888 186.358 21.288C187.03 21.688 187.822 21.888 188.734 21.888C189.806 21.888 190.71 21.624 191.446 21.096C192.182 20.552 192.67 19.808 192.91 18.864H195.334C195.27 19.952 194.95 20.92 194.374 21.768C193.798 22.6 193.022 23.248 192.046 23.712C191.07 24.16 189.966 24.384 188.734 24.384ZM204.808 24.384C203.352 24.384 202.224 23.92 201.424 22.992C200.64 22.048 200.248 20.704 200.248 18.96V12.096H197.368V9.6H200.248V5.856H202.888V9.6H208.888V12.096H202.888V18.96C202.888 19.936 203.056 20.672 203.392 21.168C203.744 21.648 204.248 21.888 204.904 21.888C205.624 21.888 206.2 21.648 206.632 21.168C207.064 20.688 207.368 19.952 207.544 18.96H209.896C209.832 20.704 209.36 22.048 208.48 22.992C207.6 23.92 206.376 24.384 204.808 24.384Z" fill="black"/>
                    <path class="path" d="M60.5567 21.5714C63.5843 18.844 67.2167 18.0508 71.1036 18.4767C74.9434 18.8976 79.0857 20.5091 83.2999 22.6369C87.5248 24.7701 91.9265 27.4778 96.2794 30.1603C100.653 32.8553 104.977 35.5254 109.121 37.6447C113.275 39.7689 117.148 41.2871 120.608 41.7384C124.027 42.1845 126.972 41.5834 129.429 39.5451C131.929 37.4711 134.091 33.7716 135.606 27.6691C135.772 26.9995 136.449 26.5911 137.119 26.757C137.789 26.9232 138.198 27.6016 138.031 28.2716C136.453 34.6321 134.102 38.9157 131.025 41.4689C127.904 44.0577 124.208 44.7289 120.283 44.217C116.399 43.7101 112.223 42.0398 107.983 39.8713C103.733 37.6978 99.3194 34.9699 94.9679 32.2882C90.5959 29.594 86.2863 26.9452 82.1729 24.8683C78.0491 22.7862 74.2251 21.3341 70.8312 20.9621C67.4841 20.5953 64.6137 21.2811 62.2296 23.4289C60.215 25.2439 58.4451 28.1948 57.0958 32.7199L63.9259 28.3947C64.5091 28.0253 65.2811 28.1992 65.6505 28.7824C66.0197 29.3656 65.8469 30.1376 65.2638 30.507L55.7599 36.5265C55.1768 36.8959 54.4048 36.7227 54.0353 36.1398L48.0147 26.6359C47.6453 26.0527 47.8192 25.2797 48.4024 24.9103C48.9856 24.5412 49.7577 24.7149 50.127 25.298L54.5978 32.3546C56.0382 27.3679 58.033 23.845 60.5567 21.5714Z" fill="black"/>
                    <path class="path" d="M14.9701 90.7476C15.1963 92.9146 16.2761 94.9042 17.9704 96.2767C19.6645 97.649 21.8351 98.2921 24.0046 98.0664C26.1745 97.8405 28.1669 96.7641 29.5413 95.072L51.9751 67.4536C54.2653 64.6339 55.3389 61.0206 54.9619 57.4095C54.5849 53.7983 52.7882 50.4839 49.9648 48.1966C47.1414 45.9093 43.5229 44.8356 39.907 45.2119C36.291 45.5883 32.9723 47.3846 30.6818 50.2041L8.24806 77.8226C7.29476 78.9962 5.56817 79.1759 4.39297 78.2239C3.21853 77.2721 3.03903 75.5494 3.99128 74.3759L26.425 46.7575C29.6311 42.8105 34.2771 40.2962 39.3388 39.7692C44.4003 39.2425 49.4642 40.7458 53.4163 43.9474C57.3684 47.1491 59.886 51.7872 60.4138 56.8419C60.9414 61.8966 59.4357 66.9535 56.23 70.9004L33.7962 98.5189C31.5062 101.338 28.1884 103.135 24.573 103.511C20.9579 103.887 17.3417 102.812 14.5189 100.526C11.6959 98.239 9.89703 94.9256 9.52012 91.315C9.14345 87.7047 10.2194 84.0935 12.5092 81.2745L12.509 81.2726L34.9694 53.6514L34.9715 53.6531C36.3454 51.9624 38.334 50.8851 40.5025 50.6593C42.6716 50.4335 44.8412 51.0772 46.5348 52.4492C48.2285 53.8212 49.3067 55.8086 49.5329 57.9747C49.759 60.1408 49.1143 62.3075 47.7405 63.9989L47.7407 64.0008L27.0119 89.4882C26.0579 90.6606 24.3329 90.8396 23.1585 89.8874C21.9838 88.9347 21.8045 87.2104 22.7585 86.0374L43.4855 60.5502L43.4876 60.5519C43.9452 59.9878 44.1583 59.2642 44.0829 58.5421C44.0074 57.8196 43.6483 57.156 43.0834 56.6984C42.5184 56.2407 41.7942 56.0266 41.0707 56.1019C40.3472 56.1773 39.6828 56.536 39.2245 57.1001L39.2247 57.102L16.7624 84.7234C15.3893 86.4149 14.7442 88.5818 14.9701 90.7476Z" fill="black"/>
                    </svg>
                </a>
                <a href="https://github.com/las-vejas"><img src={GithubArrow} alt="github" class="absolute hover:hidden" style=" left:52.5%; top:86.9%; transform:translate(-50%,-50%); pointer-events:auto;" /></a>
                <a href="/about"><img src={InfoArrow} alt="info" class="absolute hover:hidden" style="left:108%; top:35.8%; transform:translate(-50%,-50%); pointer-events:auto;" /></a>
                <a href="/projects"><img src={PackageArrow} alt="package" class="absolute hover:hidden" style="left:47.3%; top:16.1%; transform:translate(-50%,-50%); pointer-events:auto;" /></a>
            </div>
                <div class="space-x-6 text-center md:hidden mobile:flex mobile:justify-center mobile:space-x-6 mt-4">
                    <a href="/about">About Me</a>
                    <a href="/contact">Contact Me</a>
                    <a href="/projects">Projects</a>
                    <a href="/setup">My Setup</a>
                </div>
            </div>
        </div>
    <h1 class="text-2xl font-bold text-center mt-10 font-mono dark:text--text">Welcome to my corner of the web!</h1>
</div>
</Layout>

<style>
html, body {
    overflow-y: hidden;
}
.clip {
    position: absolute;
    pointer-events: auto;
}
.clip:hover {
    color: turquoise;
}
.path {
    fill: currentColor;
}
</style>