---
import '../layouts/Layout.astro';
import '../styles/global.css';
import logo from '../assets/logo.svg?url';
const currentPath = Astro.url.pathname;
const links = [
    { href: '/about', label: 'About' },
    { href: '/projects', label: 'Projects' },
    { href: '/contact', label: 'Contact' },
    { href: '/guestbook', label: 'Guestbook' }
];
import { Octokit } from 'octokit';

const octokit = new Octokit({
  auth: import.meta.env.GITHUB_TOKEN
});
const owner = 'Las-Vejas';
const repo = 'personalsiteysws';
let latestCommit = null;
try {
  const { data: commits } = await octokit.request('GET /repos/{owner}/{repo}/commits', {
    owner,
    repo,
    per_page: 1
  });
  if (commits && commits.length > 0) {
    const authorDate = commits[0].commit.author?.date;
    latestCommit = {
      hash: commits[0].sha.substring(0, 7),
      date: authorDate ? new Date(authorDate).toLocaleDateString() : new Date().toLocaleDateString(),
      html_url: commits[0].html_url
    };
  }
} catch (e) {
  latestCommit = null;
}
---
<footer class="bottom-3 w-full bg-background dark:bg-background-dark mt-auto flex items-end justify-between px-6 space-x-5 text-center py-4">
  <div>
    <a href="/"><img src={logo} class="h-10 w-auto" alt="lasvejas text as a logo"></a>
    <div class="mt-3 flex columns-1">
      {links
        .filter(link => link.href !== currentPath)
        .map(link => (
          <a href={link.href} class="link">{link.label}</a>
        ))}
        
    </div>
    {latestCommit && (
          <p>
            Latest commit <a href={latestCommit.html_url} class="underline hover:decoration-wavy" target="_blank" rel="noopener noreferrer">{latestCommit.hash}</a> on {latestCommit.date}
          </p>
        )}
  </div>
  <pagering-link theme="light"></pagering-link>
<p class="text-gray-600">&copy; Vejas, {new Date().getFullYear()}. All rights reserved.</p>
</footer>

<style>
  .link {
    margin-right: 15px;
    color: var(--text);
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-style: wavy;
    color: var(--text-accent);
  }